<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <h1>Today</h1>
        <p>The date is<%= DateTime.new.wday %>, <%= DateTime.new.month %> <%= DateTime.new.day %>, <%= DateTime.new.year  %>
        </p>
    </body>
</html>